body{
  padding: 1%;
}

.wrapper{
  padding: 10px;
  width: 100%;
  margin: 0 auto;
  background-color: lemonchiffon;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  div{
    border: grey solid 2px;
    padding: 5px;
    margin: 5px;
  }
}
#field{
  width: 78%;
  background-color: rosybrown;
  display: flex;
  flex-flow: row wrap;
}
.right{
  width: 18%;
}
#storage, #market{
  background-color: azure;
}
#market{
  background-color: lavenderblush;
}

h2, h3{
  text-align: center;
  width: 100%;
}

.resource{
  width: 24%;
  //height: revert;

  border: 2px solid;

}

.apple{
  background-color: #6eff5d;
}

.plum{
  background-color: plum;
}
